@charset 'UTF-8';
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    font-family: 'Open Sans', san-serif;
    line-height: 1;
    -webkit-text-size-adjust: none
}

ol,
ul {
    list-style: none
}

*,
:after,
:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

.container {
    max-width: 71%;
    margin-right: auto;
    margin-left: auto
}

.clf {
    clear: both
}

.header {
    width: 100%;
    height: 100px;
    background-color: #000862
}



.header .container {
    height: inherit;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    align-items: center;
}

.jumbo iframe,
.subscr,
.subscr:focus .full {
    display: block
}


.header img {
    width: 180px;
    height: 67px;
}
.header .container h1 {
    width: 78%;
    font-family: 'Russo One', sans-serif;
    color: #fff;
    font-size: 33px;
    margin-left: 20px;
}

.main_content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 90px;
    background-image: url(../img/1_1.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 320px
}

.height_up {
    width: 100%;
    height: 100px
}

.jumbo {
    width: 100%;
    height: auto;
    margin: 20px auto 45px;
    padding: 20px;
    border: 20px solid rgba(255, 255, 255, .5);
    background-color: rgba(255, 255, 255, .92);
    background-clip: padding-box
}

.jumbo h3,
.jumbo h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center
}

.jumbo h3 {
    font-size: 30px;
    font-weight: 700
}

.jumbo h4 {
    font-size: 24px;
    font-weight: bolder
}

.jumbo iframe {
    position: relative;
    width: 100%;
    min-width: 190px;
    max-width: 760px;
    height: 420px;
    margin: 20px auto;
    border: 3px solid #fff;
    box-shadow: 0 0 0 1px #000, 0 5px 10px grey
}

.commints .container,
.videos .container {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box
}

.videos .container {
    position: relative;
    display: flex;
    height: 107px;
    padding-top: 5px;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-perspective: 150px;
    -ms-perspective: 150px;
    perspective: 150px;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.videos .container img {
    position: relative;
    display: inline-block;
    width: 196px;
    height: 107px;
    margin: 10px 20px;
    cursor: pointer;
    border: 2px solid #fff;
    outline: #000 solid 1px
}

.videos .container img:after {
    position: absolute;
    width: inherit;
    height: inherit;
    content: 'Урок пока недоступен';
    background-color: rgba(255, 255, 255, .85)
}

.videos .container figure {
    position: relative;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in
}

.videos .container figure:after {
    position: absolute;
    bottom: -5px;
    left: 19px;
    width: 200px;
    height: 2px;
    border-radius: 100%;
    background-color: #aaa;
    box-shadow: 0 0 5px 5px #aaa;
    content: '';
}

.videos .container figcaption {
    position: relative;
    top: -8px;
    text-align: center
}

.videos .container:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 90px;
    left: 0;
    width: 100%;
    height: 70px;
    -webkit-transform: rotateX(5deg);
    transform: rotateX(5deg);
    border-radius: 5px;
    background-image: url(../img/7_1.jpg);
    background-repeat: repeat-x;
    background-position: center;
    background-size: 85px 69px;
    box-shadow: 0 5px 4px grey, 2px 5px 4px grey, -2px 5px 4px grey
}

.commints {
    margin-bottom: 20px
}

.commints h3 {
    font-size: 28px;
    font-weight: 700;
    max-width: 71%;
    margin: 20px auto -1px;
    padding: 10px;
    text-align: center;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ccc
}

.commints .container {
    display: flex;
    border: 1px dashed #ccc;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.fb,
.vk {
    margin: 10px 30px
}

#vk_comments,
.fb-comments,
.fb-comments span,
.fb-comments span iframe {
    width: 400px!important
}

.footer {
    width: 100%;
    height: 50px;
    background-color: #2a2a2c
}

.footer .container {
    height: inherit
}

.footer .container p {
    font-size: 14px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: flex;
    height: inherit;
    text-align: center;
    color: #aaa;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer .container p a {
    text-decoration: none;
    color: #1c9eab
}

.footer .container p a:hover {
    text-decoration: underline
}

.full {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);

}

.popup {
    position: relative;
    width: 420px;
    height: auto;
    margin: 100px auto 0;
    padding: 30px 0;
    border: 3px solid rgba(0, 0, 0, .6);
    background-color: #fff
}

.close,
.darked {
    position: absolute
}

.close {
    font: 13px/20px Tahoma, Arial, sans-serif;
    font-weight: 700;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transition: all ease .8s;
    transition: all ease .8s;
    text-align: center;
    text-decoration: none;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, .8);
    box-shadow: 0 0 10px #000
}

.close:before {
    font-size: 12px;
    content: 'X';
    color: rgba(255, 255, 255, .9);
    text-shadow: 0 -1px rgba(0, 0, 0, .9)
}

.close:hover {
    background-color: rgba(252, 20, 0, .8)
}

.subscr {
    font-weight: 700;
    z-index: 9999999999999;
    width: 290px;
    margin: 10px auto;
    padding: 15px 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: #ffdead;
    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: #de0000;
    box-shadow: 0 4px 0 #af0000
}

.darked {
    top: 10px;
    left: 19px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: flex;
    width: 198px;
    height: 108px;
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

#simplemodal-overlay {
    cursor: wait;
    background-color: #000
}

#simplemodal-container {
    overflow: hidden;
    width: auto;
    height: auto;
    border: 10px solid rgba(255, 255, 255, .4);
    -moz-border-radius: 5px;
    background-color: #fff;
    background-clip: padding-box;
    top: 70px!important
}

#simplemodal-container a.modalCloseImg {
    position: absolute;
    z-index: 3200;
    top: 5px;
    right: 8px;
    display: inline;
    width: 25px;
    height: 29px;
    cursor: pointer;
    background: url(../img/x.png) no-repeat
}

#simplemodal-container #basicModalContent {
    padding: 8px
}

#exit_content {
    display: none;
    max-width: 335px;
    margin: 0 auto;
    padding: 20px;
    text-align: center
}

#exit_content h4 {
    font-weight: 700;
    display: inline-block;
    margin: -10px auto 10px;
    color: #000862;
    border-bottom: 1px dashed
}

#vk_groups {
    overflow: hidden!important;
}
